apiVersion: apps/v1
kind: Deployment
metadata:
  name: collectorset-controller
  labels:
    chart: "collectorset-controller"
{{- if .Values.labels}}
{{ toYaml .Values.labels| indent 4 }}
{{- end }}
{{- if .Values.annotations }}
  annotations:
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: collectorset-controller
  template:
    metadata:
      labels:
        app: collectorset-controller
{{- if .Values.labels}}
{{ toYaml .Values.labels| indent 8 }}
{{- end }}
{{- if .Values.annotations }}
      annotations:
{{ toYaml .Values.annotations | indent 8 }}
{{- end }}
    spec:
      serviceAccountName: collectorset-controller
    {{- if .Values.affinity }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
      - name: collectorset-controller
        image: "{{ .Values.imageRepository }}:{{ default "latest" .Values.imageTag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        {{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10}}
        {{- end}}
        env:
        - name: ACCESS_ID
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: accessID
        - name: ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: accessKey
        - name: ACCOUNT
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: account
        - name: ETCD_DISCOVERY_TOKEN
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: etcdDiscoveryToken
        {{- if .Values.proxyUser }}
        - name: PROXY_USER
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: proxyUser
        {{- end }}
        {{- if .Values.proxyPass }}
        - name: PROXY_PASS
          valueFrom:
            secretKeyRef:
              name: collectorset-controller
              key: proxyPass
        {{- end }}
        volumeMounts:
        - name: etc-collectorset-controller
          mountPath: "/etc/collectorset-controller"
          readOnly: true
      volumes:
      - name: etc-collectorset-controller
        projected:
          sources:
          - configMap:
              name: collectorset-controller
              items:
                - key: config.yaml
                  path: config.yaml
